# dependencies
/client/node_modules
/scrapper/node_modules
/scrapper/downloads
/scrapper/log
/scrapper/public
/scrapper/yarn.lock
node_modules
# testing
/client/coverage

# production
/client/build

/clientnpm-debug.log*
/clientyarn-debug.log*
/clientyarn-error.log*